<br><br><br>
<div class="myContainer">
    
    <div class="block">
        <div class="event-image">
            <img src="../../assets/img/gallery/4.jpg" alt="Ongoing Event" id="top-img">
        </div>
        <div class="event-details">
            <h2><b>EVENT DETAILS</b></h2>
            
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Tempore, eveniet ad recusandae dignissimos unde debitis dolorem, 
                saepe nostrum asperiores aliquid illum? Ullam unde eveniet eligendi 
                dicta reprehenderit ipsa ut molestias?</p>
                <div class="list-container">
                    <h3>TICKET PRICES</h3>
                    <div class="list-item">
                        <span class="type">Basic</span>
                        <span class="price">$10</span>
                    </div>
                    <div class="list-item">
                        <span class="type">Regular</span>
                        <span class="price">$20</span>
                    </div>
                    <div class="list-item">
                        <span class="type">VIP</span>
                        <span class="price">$30</span>
                    </div>
                </div>
        </div>
    </div>
</div>