input.ng-invalid.ng-touched{
    border: red 2px solid;
  }
  textarea.ng-invalid.ng-touched{
    border: red 2px solid;
  }
  small{
    color: red;
    font-weight: bold;
  }
  .data-list{
    padding: 15px 50px;
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    margin: 5px 0px;
    border-radius: 5px;
    font-weight: bold;
    background-color: #111;
    color: #ffba00;
}
.my-button{
  padding: 15px 30px;
  font-weight: bold;
  border: none;
  background-color: #111;
  color: #ffba00;
  justify-self: center;
  margin-left: 45%;
}

  